<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-content">
            <div class="footer-section about">
                <h3>About Engage The Creative Studio</h3>
                <p>
                    Providing innovative and memorable event experiences and
                    creative services in Powai, Mumbai. Learn more about our
                    unique offerings and how we make your events special.
                    <strong
                        >We don't give refunds no matter how early a token
                        amount you give us.</strong
                    >
                </p>
            </div>
            <div class="footer-section contact">
                <h3>Contact & Location</h3>
                <p>
                    Engage The Creative Studio<br />
                    3rd Floor, podium parking, Lake Homes Private Rd,<br />
                    next to club house, opposite LAKE FLORENCE, homes,<br />
                    Powai, Mumbai, Maharashtra 400076
                </p>
            </div>
            <div class="footer-section sitemap">
                <p class="quick-links-header">Quick Links:</p>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">1 Star Review</a></li>
                    <li><a href="/">Our Services</a></li>
                    <li><a href="/">Review Again</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>
                &copy; {{ site.time | date: "%Y" }} Engage The Creative Studio.
                All rights reserved.
            </p>
        </div>
    </div>
</footer>
