<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link type="application/atom+xml" rel="alternate" href="{{ "/feed.xml" | relative_url }}" title="{{ site.title }}" />
    <meta name="google-site-verification" content="MoRf_pIuvq_pI_CvKUIQ5uGkcKNh7xDZL-W_fb1Qo7M" />
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Review",
      "itemReviewed": {
        "@type": "LocalBusiness",
        "name": "Engage Studio Powai",
        "image": "https://engagestudiopowai.github.io/assets/images/review01.jpeg",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "3rd Floor, podium parking, Lake Homes Private Rd, next to club house, opposite LAKE FLORENCE homes",
          "addressLocality": "Mumbai",
          "addressRegion": "MH",
          "postalCode": "400076",
          "addressCountry": "IN"
        }
      },
      "author": {
        "@type": "Person",
        "name": "A Parent"
      },
      "reviewRating": {
        "@type": "Rating",
        "ratingValue": "1",
        "bestRating": "5",
        "worstRating": "1"
      },
      "reviewBody": "I booked Engage Studio Powai for my child’s birthday party, paid a ₹5,000 deposit, but had to cancel due to unforeseen travel plans over a month before the event. The owner refused to refund the deposit, citing a vague 'non-refundable policy' only communicated via WhatsApp, with no formal agreement. No activities were finalized, making claims of vendor payments questionable. The owner displayed unprofessional, defensive, and evasive behavior, prioritizing money over service. The venue is small, overpriced, and poorly maintained with average DIY activities. Other parents also report boring activities and an unenergetic team. This is a transactional, not nurturing, space. Parents should be cautious due to lack of formal contracts, unclear non-refundable deposits, unprofessional conduct, poor value, and unempathetic customer service. I have screenshots to back up all claims. What’s advertised on Instagram is not what you get.",
      "datePublished": "2024-06-20"
    }
    </script>



</head>
<body>

    <header class="custom-site-header">
        <div class="wrapper header-content-wrapper">
            <div class="header-logo">
                <img src="{{ "/assets/images/logo.jpg" | relative_url }}" alt="Engage The Creative Studio Logo">
            </div>
            <div class="header-text-content">
                <p class="brand-address">
                    3rd Floor, podium parking, Lake Homes Private Rd,<br>
                    next to club house, opposite LAKE FLORENCE, homes,<br>
                    Powai, Mumbai, Maharashtra 400076
                </p>
            </div>
        </div>
    </header>

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>
{% include footer.html %}
</body>
</html>
